{% extends 'base.html' %}

{% block content %}
<style>
@media (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-md-7 {
    width: 100%;
  }

  .card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }

  .card-body {
    padding: 10px;
  }

  .text-center {
    margin-bottom: 10px;
  }

  .rounded-circle {
    width: 150px;
    height: 150px;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
  }
}
</style>
<div class="row justify-content-center mt-5">
   <div class="col-md-7">
    <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
<div class="card-header">{% trans "Delete Group" %}</div>
<div class="card-body">
<p>{% trans "Are you sure you want to delete the group" %} "{{ group.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">{% trans "Delete" %}</button>
    <a href="{% url 'delete_group' name=name pk=pk %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
</div>
</div>
</div>
</div>
<br>
<br>
{% endblock %}
