aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.13
amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.9.1.post1
asgiref==3.6.0
ast_decompiler==0.7.0
astatine==0.3.2
astor==0.8.1
astpretty==3.0.0
astroid==2.15.5
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autoflake==1.7.8
autopep8==2.0.1
Babel==2.12.1
backports.zoneinfo==0.2.1
bandit==1.7.5
beautifulsoup4==4.11.1
bidict==0.22.1
billiard==3.6.4.0
black==23.3.0
blis==0.2.4 --global-option="--no-binary=blis"
bokeh==3.0.3
cachetools==5.3.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
chardet==5.1.0
charset-normalizer==3.1.0
ChatterBot==1.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cognitive-complexity==1.3.0
colorama==0.4.6
configparser==5.3.0
contourpy==1.0.6
coverage==7.2.6
cymem==2.0.7
darglint==1.8.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.4
django-allauth==0.51.0
django-apscheduler==0.6.2
django-bootstrap-icons==0.8.2
django-bootstrap-v5==1.0.11
django-bootstrap5==22.2
django-chat==0.1.0
django-crispy-forms==2.0
django-heroku==0.3.1
django-hvad==1.8.0
django-location-field==2.1.0
django-model-utils==4.3.1
django-modeltranslation==0.18.7
django-notifications-hq==1.7.0
django-redis==5.2.0
django-timezone-field==5.0
dlint==0.14.1
doc8==1.1.1
docformatter==1.7.1
docutils==0.19
domdf-python-tools==3.6.1
emoji==2.2.0
emojis==0.7.0
eradicate==2.2.0
exceptiongroup==1.1.0
fastapi==0.95.2
filelock==3.12.0
flake8==5.0.4
flake8-2020==1.8.0
flake8-aaa==0.15.0
flake8-annotations==3.0.1
flake8-annotations-complexity==0.0.7
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.12.0
flake8-debugger==4.1.2
flake8-django==1.3
flake8-docstrings==1.7.0
flake8-encodings==0.5.0.post1
flake8-eradicate==1.4.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.1
flake8-isort==6.0.0
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.4.0
flake8-mutable==1.2.0
flake8-no-pep420==2.4.0
flake8-noqa==1.3.1
flake8-pie==0.16.0
flake8-plugin-utils==1.3.2
flake8-pyi==22.11.0
flake8-pylint==0.2.0
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.0
flake8-string-format==0.3.0
flake8-tidy-imports==4.8.0
flake8-typing-imports==1.14.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.5
flake8-warnings==0.4.0
flake8_simplify==0.20.0
Flask==0.11.1
Flask-RESTful==0.3.6
Flask-Uploads==0.2.1
frozendict==2.3.4
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
googletrans==4.0.0rc1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hypothesis==6.75.3
hypothesmith==0.1.9
idna==2.10
imageio==2.26.0
imageio-ffmpeg==0.4.8
imagesize==1.4.1
importlib-metadata==6.6.0
iniconfig==2.0.0
interchange==2021.0.4
isort==5.12.0
itsdangerous==2.1.2
jieba==0.39
Jinja2==3.1.2
joblib==1.2.0
jsonfield==3.1.0
jupyterlab-flake8==0.7.1
kombu==5.2.4
langdetect==1.0.9
lark-parser==0.12.0
lazy-object-proxy==1.9.0
libcst==0.4.10
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mathparse==0.1.2
mccabe==0.7.0
mdurl==0.1.2
monotonic==1.6
mr-proper==0.0.7
msgpack==1.0.4
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions==1.0.0
natsort==8.3.1
neo4j-driver==5.5.0
nltk==3.8.1
numpy==1.21.2
oauthlib==3.2.2
openai==0.26.4
outcome==1.2.0
packaging==23.1
pandas==1.5.3
pandas-vet==0.2.3
pansi==2020.7.3
pathspec==0.10.3
pbr==3.1.1
pep8-naming==0.13.3
Pillow==9.3.0
Pint==0.20.1
pkg_resources==0.0.0
plac==0.9.6
platformdirs==3.5.1
pluggy==1.0.0
preshed==3.0.8 --global-option="--no-binary=preshed"
proglog==0.1.10
prompt-toolkit==1.0.15
psycopg2==2.9.5
py2neo==3.1.2
pybetter==0.4.1
pycln==2.1.3
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.8
pydocstyle==6.3.0
pyemojify==0.2.0
pyflakes==2.5.0
Pygments==2.14.0
PyJWT==2.6.0
pylint==2.17.4
pymongo==3.13.0
pyOpenSSL==23.0.0
pypinyin==0.22.0
pyproject_api==1.5.1
PySocks==1.7.1
pytest==7.2.1
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-crontab==2.7.1
python-dateutil==2.8.1
python-decouple==3.7
python-dev-tools==2023.3.24
python-engineio==4.3.1
python-http-client==3.3.7
python-socketio==5.0.4
python3-openid==3.2.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyupgrade==3.4.0
PyYAML==6.0
redis==4.5.1
regex==2022.10.31
removestar==1.3.1
requests==2.31.0
requests-oauthlib==1.3.1
restructuredtext-lint==1.4.0
rfc3986==1.5.0
rich==13.3.5
schedule==1.1.0
scikit-learn==1.2.0
scipy==1.7.0
selenium==4.7.2
sendgrid==6.9.7
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==2.1.9
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.2.19
sqlparse==0.4.3
srsly==1.0.6
ssort==0.11.6
starkbank-ecdsa==2.2.0
starlette==0.27.0
stdlib-list==0.8.0
stevedore==5.1.0
stripe==5.4.0
swapper==1.3.0
termcolor==2.3.0
thinc==7.0.8
threadpoolctl==3.1.0
tokenize-rt==5.0.0
tomli==2.0.1
tomlkit==0.11.8
tornado==6.2
tox==4.5.1
tox-travis==0.12
tqdm==4.64.1
tradingview-ta==3.3.0
trio==0.22.0
trio-websocket==0.9.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
untokenize==0.1.1
urllib3==1.26.13
urllib3-secure-extra==0.1.0
vine==5.0.0
virtualenv==20.23.0
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.3
whitenoise==6.3.0
wrapt==1.15.0
wsproto==1.2.0
xlrd==1.0.0
xlwt==1.2.0
xyzservices==2022.9.0
yarl==1.8.2
yfinance==0.2.3
zipp==3.15.0
