aiohttp
aiosignal
alabaster
amqp
aniso8601
anyio
appdirs
asgiref
ast_decompiler
astatine
async-generator
attrs
autopep8
astor
astpretty
astroid
asttokens
async-timeout
autoflake
backports.zoneinfo
bidict
billiard
bokeh
Babel
black
blis==0.2.4 --global-option="--no-binary=blis"
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
configparser
contourpy
cryptography
channels
channels-redis
chardet
charset-normalizer
click
click-didyoumean
colorama
cymem
defusedxml
dj-database-url
Django
django-allauth
django-bootstrap5
django-heroku
django-modeltranslation
django-timezone-field
decorator
defusedxml
dj-database-url
django-chats
django-crispy-forms
django-heroku
django-hvad
django-location-field
django-model-utils
django-notifications-hq
django-redis
emojis
exceptiongroup
Flask
Flask-RESTful
Flask-Uploads
frozendict
frozenlist
googletrans
gunicorn
h11
html5lib
h2
hpack
hstspreload
httpcore
httpx
hyperframe
imageio
imageio-ffmpeg
iniconfig
interchange
itsdangerous
idna
jieba
Jinja2
joblib
jsonfield
lxml
langdetect
MarkupSafe
multitasking
mathparse
monotonic
msgpack
multidict
murmurhash
neo4j-driver
nltk
oauthlib
openai
outcome
numpy
scikit-learn
oauthlib
packaging
pandas
Pillow
prompt-toolkit
psycopg2
pycodestyle
pycparser
PyJWT
PySocks
python-crontab
python-dateutil
python-decouple
python-engineio
python-socketio
python3-openid
pytz
pytz-deprecation-shim
PyYAML
pansi
pbr
Pint
plac
pluggy
preshed --global-option="--no-binary=preshed"
proglog
py2neo
Pygments
PyJWT
pymongo
pyOpenSSL
pypinyin
pytest
redis
regex
requests
requests-oauthlib
rfc3986
schedule
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
sendgrid
sniffio
SQLAlchemy
srsly
starkbank-ecdsa
stripe
swapper
threadpoolctl
tomli
tornado
tradingview-ta
trio
trio-websocket
typing-extensions
tzdata
tzlocal
thinc
threadpoolctl
tomli
tornado
tqdm
urllib3
urllib3-secure-extra
vine
wcwidth
webencodings
websocket-client
whitenoise
wsproto
wasabi
wcwidth
Werkzeug
wsproto
xyzservices
yfinance
xlrd
xlwt
yarl
