{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load emoji_reactions_tags %}
{% block content %}
<style>
      
      @media (max-width: 767px) {
  /* CSS styles for screens with maximum width of 767px */
.d-flex.align-items-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-4 {
    width: 100%;
    padding: 5px;
  }
  /* Adjust the card layout */
  .col-lg-4 {
    width: 100%;
    margin-bottom: 15px;
  }

  .col-lg-8 {
    width: 100%;
  }

  /* Center the user profile image 
  .text-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*/
  /* Reduce the font size for post details */
  .card-body p {
    font-size: 12px;
  }

  /* Adjust the width of the search form elements */
  .order-1,
  .order-2,
  .order-3 {
    width: 100%;
  }

  /* Center the loading spinner */
  .text-center div#loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Adjust the width of the post form elements */
  .col-4 {
    width: 100%;
  }

  /* Adjust the width of the share buttons */
  .share-buttons {
    width: 100%;
  }

  /* Center the emoji picker buttons */
  #emoji-picker-container {
    display: flex;
    justify-content: center;
  }

  /* Adjust the width of the comment form elements */
  #comment-form-{{ post.id }} input[type="text"] {
    width: 100%;
  }
}

</style>
<!-- Main section -->
<section class="main-section py-3">
  <div class="container-fluid">
    <div class="row">
      <!-- Left section -->
      <div class="col-lg-4">
        <div class="card mb-4" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
        <!--   <div class="card-header">
            <h5>{{ user.username }}</h5>
          </div> -->
          <div class="card-body">
            <div class="text-center">
               {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" class="rounded-circle me-2" width="200" height="200" alt="{{ user.get_full_name }}">
                      {% else %}
    <img src="{% static 'images/Default_image_profile.png' %}" class="rounded-circle me-2" width="200" height="200" alt="Default Profile Image">
{% endif %}
<hr class="mt-3">
            </div>
            
            <div class="container">
    <h1>{{ user.get_full_name }}</h1>
    <!--<p><strong>{% trans "Username" %}:</strong> {{ user.username }}</p>-->
    {% if user.profile.bio %}
      <p><strong>{% trans "Bio" %}:</strong> {{ user.profile.bio }}</p>
    {% endif %}
    {% if user.profile.birthdate %}
      <p><strong>{% trans "Birthdate" %}:</strong> {{ user.profile.birthdate }}</p>
    {% endif %}
    {% if user.profile.city %}
      <p><strong>{% trans "City" %}:</strong> {{ user.profile.city }}</p>
    {% endif %}
    {% if user.profile.location %}
      <p><strong>{% trans "Location" %}:</strong> {{ user.profile.location }}</p>
    {% endif %}
    {% if user.profile.followers %}
    <p><strong>{% trans "Followers" %}:</strong> <span class="badge badge-primary">{{ user.followers|length }}</span></p>
    {% endif %}
    {% if user.profile.following %}
    <p><strong>{% trans "Following" %}:</strong> <span class="badge badge-primary">{{ user.following|length }}</span></p>
    {% endif %}
    </div>
            
          </div>
        </div>
       <div class="card mb-4" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
  <div class="card-header">
    <h5>{% trans "Groups" %}</h5>
  </div>
  <div class="card-body">
    <ul>
      {% for group in user.joined_groups.all %}
         <li class="list-group-item">
            <a href="{% url 'group_detail' name=group.name pk=group.pk %}">
              {{ group.name }}
              <span class="badge badge-primary">{{ group.members.count }} Member(s)</span>
            </a>
         </li>
      {% endfor %}
      {% for group in user.admin_groups.all %}
        <li class="list-group-item">
          <a href="{% url 'group_detail' name=group.name pk=group.pk %}">
            {{ group.name }} (admin)
            <span class="badge badge-primary">{{ group.members.count }} Member(s)</span>
          </a>
        </li> 
      {% endfor %}
      
    </ul>
  </div>
</div>
<br>
      </div>
      <!-- Right section -->
      <div class="col-lg-8">
        <div>
          {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <br>
          <form method="post" action="{% url 'search' %}">
            <div class="d-flex flex-nowrap">
             <div class="order-1 p-2">
              {% csrf_token %}
              {{ search_form.as_p }}
            </div>
            <div class="order-2 p-2">
              <button type="submit" name="search" class="btn btn-success btn-sm align-middle" onclick="showLoadingSpinner()">{% trans "Search" %}</button>
            </div>
            <div class="order-3 p-2">
            <div class="text-center" style="float: right;"><div id="loading" class="spinner-border" style="display: none;"></div></div>
    <script type="text/javascript">
          function showLoadingSpinner() {
      $("#loading").show();
    }

    function hideLoadingSpinner() {
      $("#loading").hide();
}

  hideLoadingSpinner();
</script>
</div>
</div>  
</form>
</div>

    <div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">{% trans "Markets today" %}</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    },
    {
      "description": "GOLD",
      "proName": "GOLD"
    },
    {
      "description": "Nasdaq100",
      "proName": "NASDAQ:NDX"
    },
    {
      "description": "OIL",
      "proName": "OIL"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->  
<div class="row" style="margin-bottom:0;">
      <div class="text-center">
    {% for user in users %}
      {% if user.profile.image or user.get_full_name or user.profile.city or user.is_connected %}
        <div class="col-lg-4 mb-4">
          <div class="card mb-4" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);width:200px;height:220px;">
            <div class="card-body">
              {% if user != request.user %}
                <div class="text-center" style="margin-bottom:5px;">
                  <a href="{% url 'show_profile' username=user.username %}" style="text-decoration:none;">
                  {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" class="rounded-circle me-2" width="70" height="70" alt="{{ user.get_full_name }}">
                  {% else %}
                    <img src="{% static 'images/Default_image_profile.png' %}" class="rounded-circle me-2" width="70" height="70" alt="Default Profile Image">
                  {% endif %}
                  </a>
                </div>
                  <div class="text-center">
                <a href="{% url 'show_profile' username=user.username %}" style="text-decoration:none;"><h5 class="card-title" style="font-size:11px;">{{ user.get_full_name }}</h5></a>
                <p class="card-text" style="font-size:11px;">{{ user.profile.city }}</p>
                {% if user.is_authenticated %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
</svg>

              {% else %}
                   <<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dot text-secondary" viewBox="0 0 16 16">
  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
</svg>

              {% endif %}
              <form method="post" action="{% url 'follow' username=user.username %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm" style="font-size:11px;">{% trans "Follow" %}</button>
          </form>
            {% endif %}
                  </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
      </div>        
</div>
   <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
<!--           <div class="card-header">
            <h5>Share Something</h5>
          </div> -->
          <div class="card-body">
            <!-- Form to post something and share it -->
        <form method="post" id="post-form" enctype="multipart/form-data">
  <div class="form-group">
    {% csrf_token %}
    <div class="form-group">
      {{ form_post.content }}
    </div>
    <div class="d-flex align-items-center">
      <div class="col-4">
         <label for="image">{% trans "Image" %}:</label>
        {{ form_post.image }}
      </div>

    <div class="col-4">
       <label for="video">{% trans "Video" %}:</label>
        {{ form_post.video }}
      </div>

    <div class="col-4">
       <label for="sound">{% trans "Sound" %}:</label>
        {{ form_post.sound }}
      </div>
    </div>
  </div>
  
  <div class="card-footer">
    <button type="submit" class="btn btn-warning btn-sm w-100" onclick="showLoadingSpinner()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></button>
  </div>
</form>
      </div>
        </div>
      {% for post in posts %}
  <div class="card mb-4" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);margin-top:6px;">
    <div class="card-body">
      <div class="card mb-3">
        <!-- <div class="card-header">{{ post.title }}</div> -->
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <p class="m-0" style="color: #000;font-size: 11px;">
                {% trans "Posted" %} {{ post.created_at|timesince }} {% trans "ago" %}
              </p>
            </div>
            <div>
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if post.author.profile.image %}
                  <img src="{{ post.author.profile.image.url }}" class="rounded-circle me-2" width="32" height="32" alt="{{ user.get_full_name }}">
                {% else %}
                  <img src="{% static 'images/Default_image_profile.png' %}" class="rounded-circle me-2" width="32" height="32">
                {% endif %}
              </a>
              <span class="text-dark fw-bold" style="font-size: 12px;">{{ post.author }}</span>
            </div>
          </div>

                    <br>
                    
          <p class="card-text">{{ post.content }}</p>
          <div class="text-center">
          {% if post.image %}
          <img src="{{ post.image.url }}" style="max-width: 100%; height: auto; max-height: 350px;">
          {% endif %}
          {% if post.video %}
          <video src="{{ post.video.url }}" style="max-width: 100%; height: auto; max-height: 350px;" controls></video>
          {% endif %}
          {% if post.sound %}
          <audio src="{{ post.sound.url }}" controls></audio>
          {% endif %}
        </div>
  
        </div>
      </div>
<!-- Template code - Display total count of heart reactions -->
<ul>
  {% if post.emoji_reactions.all %}
    {% regroup post.emoji_reactions.all by emoji as reactions_by_emoji %}
    {% for group in reactions_by_emoji %}
        {% if group.grouper == 'heart' %} {# Check if the emoji is 'heart' #}
            <li class="list-group-item" style="border: none;">
                <div class="text-center">
                    <span style="font-size: 12px;">
                        {% for reaction in group.list %}
                            {% if forloop.last %}
                                {% if reaction.emoji == 'heart' %}
                                    &#x2764;&#xFE0F; {# Display the heart emoji #}
                                {% else %}
                                    {{ reaction.get_emoji_display }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {{ group.list|length }} {% trans "Reactions" %} {# Display the reaction count #}
                    </span>
                </div>
            </li>
        {% endif %}
    {% endfor %}
  {% else %}
    <li class="list-group-item">
      <div class="text-center">
        <span style="font-size: 12px;color: gray;">{% trans "No reactions yet. 0 Reactions" %}</span>
      </div>
    </li>
  {% endif %}
</ul>
<div class="card-footer">
  <div class="share-buttons" style="float:left;">
        <!-- Telegram share button -->
        <a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}{% url 'show_post' post_id=post.id %}&text={{ post.content }}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-telegram"></i>
        </a>
        <!-- Twitter share button -->
        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}{% url 'show_post' post_id=post.id %}&text={{ post.content }}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
        </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{% url 'show_post' post_id=post.id %}&text={{ post.content }}" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-facebook"></i>
</a>
<!-- Reddit share button -->
<a href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}{% url 'show_post' post_id=post.id %}&title={{ post.content }}" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-reddit" style="color: #FF5700;"></i>
</a>
<!-- LinkedIn share button -->
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|slice:'0:-1' }}{% url 'show_post' post_id=post.id %}&title={{ post.content }}&summary={{ post.content }}&source=Chatnun%20App" target="_blank" rel="noopener noreferrer">
  <i class="fab fa-linkedin" style="color: #0e76a8;"></i>
</a>

      </div>
           {% if post|has_reacted:request.user %}
    <span style="font-size: 12px;color: gray;float: right;margin-bottom: 5px;">{% trans "You've already reacted to this post!" %}</span>
  {% else %}
    <form method="POST" id="reaction-form-{{ post.id }}" style="float: right;margin-bottom: 6px;">
      {% csrf_token %}
      <input type="hidden" name="post_id" value="{{ post.id }}">
      <div id="emoji-picker-container">
        {% for choice in form_reaction.emoji.field.choices %}
          <button class="emoji-picker-item btn-sm" type="button" data-emoji="{{ choice.0 }}">{{ choice.1 }}</button>
        {% endfor %}
      </div>
      <input type="hidden" id="id_emoji_{{ post.id }}" name="emoji" value="" />
      <input type="submit" id="submit-reaction-{{ post.id }}" value="{{ post.id }}" style="display: none;" />
    </form>
    <script>
      const reactionForm{{ post.id }} = document.getElementById('reaction-form-{{ post.id }}');
      const emojiButtons{{ post.id }} = reactionForm{{ post.id }}.querySelectorAll('.emoji-picker-item');
      
      reactionForm{{ post.id }}.addEventListener('submit', function(event) {
        event.preventDefault();
        // Your code to handle form submission
      });

      emojiButtons{{ post.id }}.forEach(button => {
        button.addEventListener('click', () => {
          const emoji = button.dataset.emoji;
          document.getElementById('id_emoji_{{ post.id }}').value = emoji;
          reactionForm{{ post.id }}.submit();
        });
      });
    </script>
  {% endif %}

 <form method="POST" id="comment-form-{{ post.id }}">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    {{ form_comment.as_p }}
        <button type="submit" class="btn btn-primary btn-sm" style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
</svg></button>
<br>
</form> 
<span style="font-size: 12px;color: gray;"><p class="mb-3 text-center">{{ post.comments.all|length }} {% trans "Comments" %}</p></span>
<div class="container-fluid"> 
      <div class="text-center"><a href="{% url 'show_post' post_id=post.id %}" class="btn btn-outline-white btn-sm">{% trans "View Post" %}</a></div>
    </div>
     </div>
    </div>
  </div>
  {% empty %}
  <p>No posts yet.</p>
  {% endfor %}
</div>
    </div>
</section>
{% endblock %}
