{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
    @media (max-width: 767px) {
  .col-md-4,
  .col-md-7 {
    margin-bottom: 20px;
  }

  .card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .card-body {
    padding: 15px;
  }

  .text-center {
    margin-bottom: 20px;
  }

  img.rounded-circle {
    margin-right: 10px;
  }

  .container {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  li.list-group-item {
    padding: 10px;
  }

  .badge.badge-primary {
    margin-left: 5px;
  }

  .card-header {
    padding: 10px;
  }

  h5 {
    margin-bottom: 0;
  }

  .list-group-item.list-group-item-action {
    padding: 10px;
  }

  .list-group-item.list-group-item-action h5 {
    font-size: 16px;
  }

  .list-group-item.list-group-item-action small {
    font-size: 12px;
  }

  .list-group-item.list-group-item-action img.rounded-circle {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .list-group-item.list-group-item-action p.mb-0 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .text-center {
    margin-bottom: 20px;
  }

  .mb-4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .list-group {
    margin-bottom: 20px;
  }

  .list-group-item.list-group-item-action {
    padding: 15px;
  }

  .list-group-item.list-group-item-action h5 {
    font-size: 16px;
  }

  .list-group-item.list-group-item-action small {
    font-size: 12px;
  }

  .mt-2 {
    margin-top: 10px;
  }

  .text-center {
    margin-bottom: 20px;
  }
}

</style>
<!-- Main section -->
<section class="main-section py-3">
  <div class="container-fluid">
    <div class="row">
      <!-- Left section -->
      <div class="col-md-4">
        <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
        <!--   <div class="card-header">
            <h5>{{ user.username }}</h5>
          </div> -->
          <div class="card-body">
            <div class="text-center">
               {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" class="rounded-circle me-2" width="200" height="200" alt="{{ user.get_full_name }}">
                      {% else %}
    <img src="{% static 'images/Default_image_profile.png' %}" class="rounded-circle me-2" width="200" height="200" alt="Default Profile Image">
{% endif %}
<hr>
            </div>
            
            <div class="container">
    <h1>{{ user.get_full_name }}</h1>
    <p><strong>{% trans "Username" %}:</strong> {{ user.username }}</p>
    {% if user.profile.bio %}
      <p><strong>{% trans "Bio" %}:</strong> {{ user.profile.bio }}</p>
    {% endif %}
    {% if user.profile.birthdate %}
      <p><strong>{% trans "Birthdate" %}:</strong> {{ user.profile.birthdate }}</p>
    {% endif %}
    {% if user.profile.city %}
      <p><strong>{% trans "City" %}:</strong> {{ user.profile.city }}</p>
    {% endif %}
    {% if user.profile.location %}
      <p><strong>{% trans "Location" %}:</strong> {{ user.profile.location }}</p>
    {% endif %}
    {% if user.profile.followers %}
    <p><strong>{% trans "Followers" %}:</strong> <span class="badge badge-primary">{{ user.followers|length }}</span></p>
    {% endif %}
    {% if user.profile.following %}
    <p><strong>{% trans "Following" %}:</strong> <span class="badge badge-primary">{{ user.following|length }}</span></p>
    {% endif %}
    </div>
            
          </div>
        </div>
        <br>
       <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
  <div class="card-header">
    <h5>Groups</h5>
  </div>
  <div class="card-body">
    <ul>
      {% for group in user.joined_groups.all %}
         <li class="list-group-item">
            <a href="{% url 'group_detail' name=group.name pk=group.pk %}">
              {{ group.name }}
              <span class="badge badge-primary">{{ group.members.count }} {% trans "Members" %}</span>
            </a>
         </li>
      {% endfor %}
      {% for group in user.admin_groups.all %}
        <li class="list-group-item">
          <a href="{% url 'group_detail' name=group.name pk=group.pk %}">
            {{ group.name }} {% trans "admin" %}
            <span class="badge badge-primary">{{ group.members.count }} {% trans "Members" %}</span>
          </a>
        </li>
      {% endfor %}
      
    </ul>
  </div>
</div>
<br>
      </div>
    
      
      <!-- Right section -->
      <div class="col-md-7">
        <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
          <div class="card-body">
    <h1 class="mb-4">Notifications</h1>
    {% if message_notifications %}
      <h2>{% trans "Messages" %}:</h2>
      <div class="list-group">
        {% for notification in message_notifications %}
          <a href="{% url 'message_thread' username=notification.message.sender.username %}" class="list-group-item list-group-item-action{% if not notification.is_read %} list-group-item-danger{% endif %}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ notification.get_notification_type }}</h5>
              <small>{{ notification.timestamp|date:"F j, Y, g:i a" }}</small>
            </div>
            {% if notification.message %}
              {% with notification.message.sender as sender %}
                <div class="d-flex align-items-center mt-2">
                  <img src="{{ sender.profile.image.url }}" alt="{{ sender.username }}" class="me-2 rounded-circle" width="30" height="30">
                  <p class="mb-0">{{ sender.username }}</p>
                </div>
              {% endwith %}
            {% endif %}
          </a>
        {% empty %}
          <p class="text-center">{% trans "No message notifications" %}.</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if post_notifications %}
      <h2>Posts:</h2>
      <div class="list-group">
        {% for notification in post_notifications %}
          <a href="{% url 'show_post' post_id=notification.post.id %}" class="list-group-item list-group-item-action{% if not notification.is_read %} list-group-item-danger{% endif %}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ notification.get_notification_type }}</h5>
              <small>{{ notification.timestamp|date:"F j, Y, g:i a" }}</small>
            </div>
            {% if notification.post %}
              <div class="mt-2">{{ notification.post.content }}</div>
            {% endif %}
          </a>
        {% empty %}
          <p class="text-center">{% trans "No post notifications" %}.</p>
        {% endfor %}
      </div>
    {% endif %}

    {% if not message_notifications and not post_notifications %}
      <p class="text-center">{% trans "No notifications" %}.</p>
    {% endif %}

</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
