{% extends 'base.html' %}
{% load i18n %}

{% load static %}
{% block content %}
<style>
@media (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    margin-top:30px;
    margin-bottom:20px;
  }
  
  .col-md-7 {
    width: 100%;
    margin-bottom:50px;
  }
  
  .tradingview-widget-container {
    width: 100% !important;
    max-width: 100% !important;
  }
}
</style>

      <div class="row">
  <div class="col-md-4">
   <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
      <div class="card-body">
        <div class="text-center">
         {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" class="rounded-circle me-2" width="200" height="200" alt="{{ user.get_full_name }}">
                      {% else %}
    <img src="{% static 'images/Default_image_profile.png' %}" class="rounded-circle me-2" width="200" height="200" alt="Default Profile Image">
{% endif %}
<hr>
  </div>
  </div>
  <div class="container">
    <h2 style="font-size:18px;">{{ user.get_full_name }}</h2>
   <p style="font-size:11px;"><strong>{% trans "Username" %}:</strong> {{ user.username }}</p>
    {% if user.profile.bio %}
      <p style="font-size:11px;"><strong>{% trans "Bio" %}:</strong> {{ user.profile.bio }}</p>
    {% endif %}
    {% if user.profile.birthdate %}
      <p style="font-size:11px;"><strong>{% trans "Birthdate" %}:</strong> {{ user.profile.birthdate }}</p>
    {% endif %}
    {% if user.profile.city %}
      <p style="font-size:11px;"><strong>{% trans "City" %}:</strong> {{ user.profile.city }}</p>
    {% endif %}
    {% if user.profile.location %}
      <p style="font-size:11px;"><strong>{% trans "Location" %}:</strong> {{ user.profile.location }}</p>
    {% endif %}
    {% if request.user.username == user.username %}
      <p style="font-size:11px;"><strong>{% trans "Followers" %}:</strong> {{ user.followers.all|length }}</p>
      <p style="font-size:11px;"><strong>{% trans "Following" %}:</strong> {{ user.following.all|length }}</p>
    {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <!-- TradingView Widget BEGIN -->
    <div class="text-center"><div id="loading" class="spinner-border" style="display: none;"></div></div>
    <script type="text/javascript">
          function showLoadingSpinner() {
      $("#loading").show();
    }

    function hideLoadingSpinner() {
      $("#loading").hide();
}
hideLoadingSpinner();
    </script>
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">{% trans "Markets today" %}</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "Ethereum"
    },
    {
      "description": "GOLD",
      "proName": "GOLD"
    },
    {
      "description": "Nasdaq100",
      "proName": "NASDAQ:NDX"
    },
    {
      "description": "OIL",
      "proName": "OIL"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
  <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
  <div class="card-header" id="card-header">
  <h1 class="text-center">{% trans "Predict Market Signal" %}</h1>
  </div>
  <br>
  <div class="card-body">
  <form method="post">
    <div class="row align-items-start">
    <div class="col">
    {% csrf_token %}
    {{ form.as_p }}
     </div>
    <div class="col">
    <button type="submit" class="btn btn-primary btn-sm w-100" onclick="showLoadingSpinner()">{% trans "Submit" %}</button>
    </div>
    </div>
  </form>
  </div>
  </div>
</div>
  <br>
  <br>
  {# Add a jumbotron component #}

{% endblock %}
