<!-- forgot_password.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-7">
    <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
      <div class="card-body">
    <h1 class="text-center">{% trans "Forgot Password" %}</h1>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <button type="submit" class="btn btn-primary btn-sm">{% trans "Submit" %}</button>
    </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}
