<!-- reset_password.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7">
        {% if messages %}
    <ul class="list-unstyled"> 
        {% for message in messages %}
        <li class="alert alert-success alert-dismissible fade show" role="alert">
            {% trans message.message %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
        {% endfor %}
    </ul>
        {% endif %}
    </div>
</div>
    <div class="mx-auto" style="width:450px;">
    <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
     <div class="card-body">
    <h1 class="text-center">{% trans "Reset Password" %}</h1>
    
    <form method="post" action="{% url 'reset_password' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
    </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
