{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style type="text/css">
  .helptext {
    display: none;
  }
  label {
    font-size: 10px;
  }

  /* Styles for small screens */
  @media (max-width: 767px) {
    label {
      font-size: 8px;
    }
    .jumbotron {
      padding: 10px;
    }
    .col-md-7 {
      padding: 0;
    }
    .text-center.mb-3 h1 {
      font-size: 24px;
    }
    button[type="submit"] {
      margin-top: 10px;
    }
  }
</style>
<div class="row justify-content-center mt-5">
  <div class="jumbotron text-center">
    <div class="text-center">
      <div id="loading" class="spinner-border" style="display: none;"></div>
    </div>
    <script type="text/javascript">
      function showLoadingSpinner() {
        $("#loading").show();
      }

      function hideLoadingSpinner() {
        $("#loading").hide();
      }

      hideLoadingSpinner();
    </script>
  </div>
  <br>
  <div class="col-md-7">
    <div class="text-center mb-3">
      <h1>{% trans "Sign up" %}</h1>
            <form method="post" action="{% url 'user_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- Add a CSS class to the password confirmation field -->
    <div class="form-group">
        <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
        <input type="password" name="{{ form.confirm_password.name }}" class="form-control" id="{{ form.confirm_password.id_for_label }}" style="width: 100%;" required>
        {% if form.confirm_password.help_text %}
            <small class="form-text text-muted">{{ form.confirm_password.help_text }}</small>
        {% endif %}
    </div>
    
    <span class="text-success">
        {% trans "*By Register You Accept our Terms and Policies" %}
    </span>
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-sm" onclick="showLoadingSpinner()">{% trans "Sign up" %}</button>
</form>

    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
